config autonomy 'global'
    option enabled '1'
    option log_level 'info'
    option prediction_interval '30'
    option health_check_interval '10'

config interface 'starlink'
    option name 'starlink'
    option priority '1'
    option enabled '1'

config interface 'cellular'
    option name 'cellular'
    option priority '2'
    option enabled '1'

config interface 'wifi'
    option name 'wifi'
    option priority '3'
    option enabled '1'
