config starlink_standalone 'global'
    option enabled '1'
    option space_track_username ''
    option space_track_password ''
    option starlink_dish_ip '192.168.1.1'
    option starlink_dish_port '9200'
    option update_interval_minutes '15'
    option prediction_horizon_hours '24'
    option min_elevation_degrees '25.0'
    option obstruction_threshold '0.1'
    option validation_enabled '1'
    option cache_duration_hours '6'
    option rate_limit_requests_per_minute '10'
    option http_api_port '8080'
    option enable_web_interface '1'
    option log_level '1'
